@charset "UTF-8";
/* line 6, ../sass/_sprite.sass */
i {
  background: url('../images/icons-sf4415d8823.png') no-repeat;
  display: inline-block;
  vertical-align: baseline;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-booking {
  background-position: 0 0;
  height: 22px;
  width: 18px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-business {
  background-position: 0 -22px;
  height: 19px;
  width: 16px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-caret-down {
  background-position: 0 -41px;
  height: 6px;
  width: 9px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-cleaner {
  background-position: 0 -47px;
  height: 25px;
  width: 18px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-customer {
  background-position: 0 -72px;
  height: 16px;
  width: 16px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-dashboard {
  background-position: 0 -88px;
  height: 16px;
  width: 16px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-finance {
  background-position: 0 -104px;
  height: 17px;
  width: 21px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-geography {
  background-position: 0 -121px;
  height: 23px;
  width: 20px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-news {
  background-position: 0 -144px;
  height: 15px;
  width: 17px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-notification {
  background-position: 0 -159px;
  height: 19px;
  width: 14px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-payment {
  background-position: 0 -178px;
  height: 14px;
  width: 21px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-service {
  background-position: 0 -192px;
  height: 20px;
  width: 20px;
}

/* line 12, ../sass/_sprite.sass */
.cp-icn-user {
  background-position: 0 -212px;
  height: 16px;
  width: 19px;
}

/* line 7, ../sass/_image.sass */
.avatar-circle {
  display: inline-block;
  width: 90px;
  height: 90px;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid rgba(33, 119, 86, 0.9);
}

/* line 9, ../sass/_button.sass */
.cp-btn {
  height: 40px;
  padding: auto 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

/* line 18, ../sass/_button.sass */
.cp-btn-trans {
  background-color: transparent;
}

/* line 18, ../sass/_button.sass */
.cp-btn-upload {
  background-color: #666666;
}

/* line 18, ../sass/_button.sass */
.cp-btn-instant {
  background-color: #3c57a7;
}

/* line 18, ../sass/_button.sass */
.cp-btn-primary {
  background-color: #77C044;
}

/* line 7, ../sass/_form.sass */
label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 45px;
  margin-right: 15px;
  font-size: 1.6rem;
}
/* line 14, ../sass/_form.sass */
label:before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 15px;
  position: absolute;
  left: 0;
  bottom: 5px;
  background-color: white;
}

/* line 25, ../sass/_form.sass */
.checkbox label:before {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 28, ../sass/_form.sass */
input[type=checkbox] {
  display: none;
}

/* line 31, ../sass/_form.sass */
input[type=checkbox]:checked + label:before {
  content: "✔";
  border: 2px solid #77C044;
  font-size: 2.2rem;
  line-height: 18px;
  text-align: center;
  color: #77C044;
}

/* line 3, ../sass/_general.sass */
::-webkit-input-placeholder {
  color: #c3c3c3;
  font-size: 1.6rem;
}

/* line 7, ../sass/_general.sass */
:-moz-placeholder {
  /* Firefox 18- */
  color: #c3c3c3;
  font-size: 1.6rem;
}

/* line 12, ../sass/_general.sass */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c3c3c3;
  font-size: 1.6rem;
}

/* line 17, ../sass/_general.sass */
:-ms-input-placeholder {
  color: #c3c3c3;
  font-size: 1.6rem;
}

/* line 24, ../sass/_general.sass */
html {
  font-size: 62.5%;
}

/* line 27, ../sass/_general.sass */
body {
  max-width: 1440px;
  background-color: #eeeeee;
  color: #666666;
  margin: 0 auto;
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 34, ../sass/_general.sass */
hr {
  border-top: 1px solid rgba(230, 230, 230, 0.35);
}

/* line 37, ../sass/_general.sass */
input {
  background-color: white;
  color: #666666;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  display: block;
  padding-left: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 46, ../sass/_general.sass */
input:focus {
  border: 1px solid #77C044;
  -moz-box-shadow: inset 0 1px 1px rgba(119, 192, 68, 0.075), 0 0 8px rgba(119, 192, 68, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(119, 192, 68, 0.075), 0 0 8px rgba(119, 192, 68, 0.6);
  box-shadow: inset 0 1px 1px rgba(119, 192, 68, 0.075), 0 0 8px rgba(119, 192, 68, 0.6);
}

/* line 53, ../sass/_general.sass */
.cp-container {
  width: 100 .cp-container;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

/* Login
 * ===== */
/* line 3, ../sass/_login.sass */
#login-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #ffffff;
}

/* line 9, ../sass/_login.sass */
#topbar-login {
  height: 60px;
  background-color: white;
  text-align: center;
}
/* line 13, ../sass/_login.sass */
#topbar-login div {
  display: inline-block;
  width: 100px;
}
/* line 16, ../sass/_login.sass */
#topbar-login div img {
  margin-top: 10px;
}

/* line 19, ../sass/_login.sass */
.focus-login {
  border: 3px solid #b0d553;
}

/* line 22, ../sass/_login.sass */
#board-wrap {
  width: 465px;
  height: 558px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -249px;
  margin-left: -232.5px;
  background: url('../images/login/login-bg.png?1476166055') no-repeat center center;
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

/* line 35, ../sass/_login.sass */
.board-login {
  width: 100%;
  height: 100%;
  background-color: rgba(78, 159, 72, 0.95);
  /* Lock Screen
   * =========== */
}
/* line 39, ../sass/_login.sass */
.board-login .title {
  width: 220px;
  text-align: center;
  padding: 50px 0 50px 0;
  margin: 0 auto;
}
/* line 44, ../sass/_login.sass */
.board-login .title div:first-child {
  font-weight: 600;
  font-size: 1.8rem;
}
/* line 47, ../sass/_login.sass */
.board-login .title div:nth-child(2) {
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 4.8rem;
}
/* line 51, ../sass/_login.sass */
.board-login .title img {
  padding-top: 20px;
}
/* line 53, ../sass/_login.sass */
.board-login form.form-login {
  width: 345px;
  margin: 0 auto;
}
/* line 56, ../sass/_login.sass */
.board-login form.form-login .form-style {
  width: 349px;
  height: 53px;
}
/* line 59, ../sass/_login.sass */
.board-login form.form-login .form-style .form-label {
  float: left;
  width: 47px;
  height: 47px;
  padding: 14px 0 0 14px;
  background-color: #217756;
  display: inline-block;
}
/* line 66, ../sass/_login.sass */
.board-login form.form-login .form-style input {
  float: left;
  width: 296px;
  padding-left: 20px;
  height: 47px;
  outline: none;
  border: none;
}
/* line 73, ../sass/_login.sass */
.board-login form.form-login .form-style input:focus {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 76, ../sass/_login.sass */
.board-login .space {
  clear: both;
  height: 30px;
}
/* line 79, ../sass/_login.sass */
.board-login input[type=submit] {
  background-color: #217756;
  width: 349px;
  height: 60px;
  padding: 0;
  margin-top: 30px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 91, ../sass/_login.sass */
.board-login input[type=submit]:focus {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #1b6348;
  outline: none;
}
/* line 100, ../sass/_login.sass */
.board-login .user-info {
  width: 200px;
  text-align: center;
  padding: 110px 0 50px 0;
  margin: 0 auto;
}
/* line 105, ../sass/_login.sass */
.board-login .user-info div:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 300;
}
/* line 108, ../sass/_login.sass */
.board-login .user-info div:last-child {
  font-size: 2.4rem;
  font-weight: 600;
}
/* line 111, ../sass/_login.sass */
.board-login #lock-submit {
  margin-top: 67px;
}

/* Sidebar
 * ======= */
/* line 3, ../sass/_sidebar.sass */
.sidebar {
  background: url('../images/sidebar-bg.png?1476365216') repeat center center;
  width: 190px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
}
/* line 9, ../sass/_sidebar.sass */
.sidebar .sidebar-nav {
  background-color: rgba(78, 159, 72, 0.95);
  width: 100%;
  height: 100%;
  border-right: 2px solid rgba(78, 159, 72, 0.95);
}
/* line 14, ../sass/_sidebar.sass */
.sidebar .sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 18, ../sass/_sidebar.sass */
.sidebar .sidebar-nav ul li {
  display: block;
}
/* line 20, ../sass/_sidebar.sass */
.sidebar .sidebar-nav ul li a {
  text-align: left;
  padding: 15px 10px 15px 20px;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: block;
  outline: none;
}
/* line 29, ../sass/_sidebar.sass */
.sidebar .sidebar-nav ul li a:hover, .sidebar .sidebar-nav ul li a:focus, .sidebar .sidebar-nav ul li a:active {
  outline: none;
  font-weight: 600;
}
/* line 35, ../sass/_sidebar.sass */
.sidebar .sidebar-nav ul li .active-alone:focus, .sidebar .sidebar-nav ul li .active-alone:active {
  background-color: rgba(238, 238, 238, 0.15);
}
/* line 38, ../sass/_sidebar.sass */
.sidebar .sidebar-nav ul ul a {
  padding-left: 65px;
}
/* line 40, ../sass/_sidebar.sass */
.sidebar .sidebar-nav ul ul a:hover, .sidebar .sidebar-nav ul ul a:focus, .sidebar .sidebar-nav ul ul a:active {
  background-color: rgba(238, 238, 238, 0.15);
}
/* line 45, ../sass/_sidebar.sass */
.sidebar .sidebar-nav .user-info {
  padding-top: 70px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 49, ../sass/_sidebar.sass */
.sidebar .sidebar-nav .user-info img {
  margin-bottom: 20px;
}
/* line 51, ../sass/_sidebar.sass */
.sidebar .sidebar-nav .user-info #user-name {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
/* line 55, ../sass/_sidebar.sass */
.sidebar .sidebar-nav .user-info ul#user-menu-item {
  margin-top: 10px;
}
/* line 57, ../sass/_sidebar.sass */
.sidebar .sidebar-nav .icn-left {
  padding-right: 30px;
}
/* line 59, ../sass/_sidebar.sass */
.sidebar .sidebar-nav .icn-right {
  float: right;
  position: relative;
  top: 10px;
  right: 15px;
}
/* line 64, ../sass/_sidebar.sass */
.sidebar .sidebar-nav .icn-right.caret-down {
  top: 18px;
}
/* line 66, ../sass/_sidebar.sass */
.sidebar .sidebar-nav .icn-right.caret-down-2line {
  top: -12px;
}
