// Define Card Block
// =================

.cp-card
  padding-bottom: 30px
  .cp-card-title
    display: inline-block
    padding: 15px 30px
  .cp-card-config
    float: right
    display: inline !important
    font-size: rem(16px)
    color: $primaryText
    padding-top: 20px
    padding-right: 40px
    .split
      border-right: 1px solid $line
      height: 20px
      margin-right: 10px
      margin-left: 25px
      display: inline-block
    .export
      display: inline-block
      cursor: pointer
      .dropdown-menu
        width: 80px
      a.dropdown-item
        font-size: rem(16px)
        padding: 5px 15px
      option
        font-size: rem(16px)

    input[type="text"]
      display: inline-block !important
      border: none
      padding-left: 10px
      width: 105px
      +input-placeholder
        color: $primaryText
      &:focus
        +box-shadow(none)
        outline: none

