// Define Card Block
// =================

.cp-card
  padding-bottom: 30px
  display: inline-block
  overflow: hidden
  .cp-card-title
    display: inline-block
    padding: 15px 30px
  .cp-btn-status
    display: inline
    button
      margin-right: 3px
      padding: 0 20px
      font-size: rem(14px)
  .cp-card-config
    float: right
    display: inline
    font-size: rem(16px)
    color: $primaryText
    padding-top: 20px
    padding-right: 40px
    .total
      display: inline
    .split
      border-right: 1px solid $line
      height: 20px
      margin-right: 10px
      margin-left: 25px
      display: inline-block
    .export
      display: inline-block
      cursor: pointer
      .dropdown-menu
        width: 80px
      a.dropdown-item
        font-size: rem(16px)
        padding: 5px 15px
      option
        font-size: rem(16px)

    input[type="text"]
      display: inline-block
      border: none
      padding: 0 0 0 10px
      width: 105px
      +border-radius(0)
      +box-shadow(none)
      +input-placeholder
        color: $primaryText
      &:focus
        +box-shadow(none)
        outline: none
    select
      width: 100px
      padding: 0 15px 4px 15px
      background-image: image_url("icons/caret-black.png")
      background-position-x: right
      background-position-y: 12px
      border: none
      +border-radius(0)
      +box-shadow(none)
  .cp-card-content
    padding-left: 30px
    padding-right: 30px
    .cp-address-container
      display: inline-block
      padding: 22px 0
      width: 100%
      .cp-address-detail
        white-space: nowrap
        overflow: hidden
        float: left
        font-size: rem(16px)
        width: 440px
      i
        margin-left: 10px
        margin-top: 5px
        float: right
      a#add-new-address
        color: white
    #cp-old-address
      display: none
      hr
        margin-top: 25px
        margin-bottom: 15px

  .cp-card-summary
    padding: 30px 30px 20px 30px
    &.online
      border-left: 5px solid $blue
    .cp-detail-avatar
      float: left
      padding-right: 25px
    .cp-detail-summary-info
      white-space: nowrap
      overflow: hidden
  .cp-upload-oneline
    width: 100%
    padding: 20px 0 0 0
    .cp-upload-item
      float: left
      margin-left: 30px
      &:first-child
        margin-left: 0
  hr
    border-top-color: $line
  hr.cp-space-detail
    margin-top: 25px


.cp-detail-container
  margin: 15px 30px 0 30px
  .cp-label
    text-transform: uppercase
    padding-bottom: 10px
    @extend .cp-typo-label
    color: $primaryText
  .cp-detail-onehaft
    .cp-column-item
      display: inline
    .cp-row
      white-space: nowrap
      margin-top: 5px
      &:first-child
        margin-top: 0
      &:nth-child(3)
        margin-top: 15px
    .cp-count-block
      display: inline-block
      width: 255px
      padding: 10px
      margin-right: 10px
      overflow: hidden
      border: 1px solid $line
      +border-radius(7px)
      div
        &:first-child
          text-align: left
          @extend .cp-typo-count-1
        &:nth-child(2)
          text-align: right
          padding-top: 5px
          @extend .cp-typo-count-2
        &:nth-child(3)
          text-align: right
          @extend .cp-typo-count-3
    .cp-comment
      padding: 10px 0 0 20px
      color: $primaryText
      @extend .cp-typo-text
    hr
      margin: 15px 0
  .cp-detail-onethird
    &:last-child
      margin-right: 0
    .cp-document-image
      padding-top: 10px
      .cp-image-item
        margin-top: 15px
        .cp-label
          padding-bottom: 6px
        img
          width: 100%
          border: 3px solid $line

.cp-dashboard
  margin: 30px auto 0 auto
  text-align: center
  .cp-chart-pie
    width: 80%
    margin: 0 auto
  .cp-chart-doughnut
    width: 60%
    margin: 0 auto
    position: relative
    .cp-dashboard-icn-center
      position: absolute
      top: 50%
      left: 50%
      z-index: 0
      +translate(-50%, -50%)
  .cp-chart-full
    width: 95%
    margin: 0 auto

.cp-cleaner-dashboard
  .cp-typo-dashboard-count
    color: $primary
    margin-top: 50px
  .cp-typo-dashboard-subcount
    color: $primary
    margin-top: 30px

.cp-user-dashboard
  .cp-typo-dashboard-count
    color: $blue
    margin-top: 50px
  .cp-typo-dashboard-subcount
    color: $primary
    margin-top: 30px

.cp-customer-dashboard
  .cp-typo-dashboard-count
    color: $lightRed
    margin-top: 50px
  .cp-typo-dashboard-subcount
    color: $primary
    margin-top: 30px
    &.cp-second
      color: $orange

.cp-card-count-block
  overflow: hidden
  padding: 20px
  display: inline-block
  div
    &:first-child
      text-align: left
      @extend .cp-typo-count-1
    &:nth-child(2)
      text-align: right
      padding-top: 5px
      @extend .cp-typo-count-2
    &:nth-child(3)
      text-align: right
      @extend .cp-typo-count-3
