// General Setting
// ==============
*, ::after, ::before
  +box-sizing(border-box)
html
  font-size: percentage(10/16)

body
  max-width: 1440px
  min-width: 480px
  background-color: $background
  color: $primaryText
  margin: 0 auto
  font-family: "Open Sans", Arial, sans-serif

hr
  border-top: 1px solid rgba($line, 0.35)
  margin: 0

input
  background-color: white
  color: $primaryText
  border: 1px solid $line
  +box-shadow(none)
  +background-image(none)
  display: block
  padding-left: 30px
  +box-sizing(border-box)
  &:focus
    border: 1px solid $primary
    +box-shadow(inset 0 1px 1px rgba($primary ,.075), 0 0 8px rgba($primary ,.6))


// Container
// =========
.cp-container
  width: 100%
  height: 100vh
  position: relative

.cp-right-block
  //width: percentage(1250px/1440px)
  width: 100%
  height: 100%
  padding-left: 190px
  +transition(padding-left, 1s)

.cp-content
  width: 100%
  padding: 15px 30px 0 30px


// Config Bootstrap
// ================
.dropdown-toggle::after
  display: none

.dropdown-menu
  +border-radius(5px)
  +box-shadow(0 6px 12px rgba(black, 0.175))
  padding: 0

.dropdown-item
  white-space: normal
  &:first-child:hover,
  &:first-child:focus
    +border-top-left-radius(5px)
    +border-top-right-radius(5px)
  &:last-child:hover,
  &:last-child:focus
    +border-bottom-left-radius(5px)
    +border-bottom-right-radius(5px)

