// Define Image Style
// ==================


// Avatar
// ======
.cp-image-circle
  margin: 0 auto
  position: relative
  overflow: hidden
  width: 90px
  height: 90px
  border: 3px solid rgba($loginDark, 0.9)
  +border-radius(50%)
  img
    width: 100%
    position: absolute
    top: 50%
    left: 50%
    +translate(-50%, -50%)

.cp-image-rec56
  position: relative
  overflow: hidden
  width: 56px
  height: 56px
  border: 3px solid $line
  +border-radius(3px)
  img
    width: 100%
    position: absolute
    top: 50%
    left: 50%
    +translate(-50%, -50%)

.cp-image-rec90
  position: relative
  overflow: hidden
  width: 90px
  height: 90px
  border: 3px solid $line
  +border-radius(3px)
  img
    width: 100%
    position: absolute
    top: 50%
    left: 50%
    +translate(-50%, -50%)


//.cp-avatar-container
//  width: 90px
//  height: 90px
//  overflow: hidden
//  +display-flex(flex)
//  +justify-content(center)
//  +align-items(center)
//
//%cp-avatar
//  display: inline-block
//  width: 100%
//  vertical-align: middle
//  border: 3px solid rgba($loginDark, 0.9)
//
//.avatar-circle
//  @extend %cp-avatar
//  +border-radius(50%)
//
//.avatar-rectangle
//  @extend %cp-avatar
//  border-color: $line
//  +border-radius(3px)
//
//.cp-avatar-list-container
//  @extend .cp-avatar-container
//  width: 56px
//  height: 56px
//
//%avatar-empty
//  background-color: rgba($primaryText, 0.5)
//  color: white
//  text-align: center
//  vertical-align: middle
//  font-weight: 300
//
//.avatar-circle-empty
//  @extend .avatar-circle
//  @extend  %avatar-empty
//  font-size: rem(20px)
//  line-height: rem(24px)
//
//.avatar-rec-empty
//  @extend .avatar-rectangle
//  @extend  %avatar-empty
//  font-size: rem(20px)
//  line-height: rem(24px)
//
//.avatar-list-empty
//  @extend .avatar-rectangle
//  @extend %avatar-empty
//  width: 56px
//  height: 56px
//  font-size: rem(12px)
//  line-height: rem(16px)
