// Define Image Style
// ==================


// Avatar
// ======
%cp-avatar
  display: inline-block
  width: 90px
  height: 90px
  vertical-align: middle
  border: 3px solid rgba($loginDark, 0.9)

.avatar-circle
  @extend %cp-avatar
  +border-radius(50%)

.avatar-rectangle
  @extend %cp-avatar
  border-color: $line
  +border-radius(3px)

%avatar-list,
.avatar-list
  @extend %cp-avatar
  width: 56px
  height: 56px
  border-color: $line
  +border-radius(3px)

%avatar-empty
  background-color: rgba($primaryText, 0.5)
  color: white
  text-align: center
  vertical-align: middle
  font-weight: 300

.avatar-rec-empty
  @extend .avatar-rectangle
  @extend  %avatar-empty
  font-size: rem(20px)
  line-height: rem(24px)

.avatar-list-empty
  @extend %avatar-list
  @extend %avatar-empty
  font-size: rem(12px)
  line-height: rem(16px)
