// Define Table Style
// ==================
table.cp-table-list
  color: $primaryText
  overflow: hidden
  margin-top: 15px
  margin-bottom: 0
  border-spacing: 35px
  thead
    font-size: rem(12px)
    font-weight: 600
    tr th
      border: none
      padding-left: 10px
      text-transform: uppercase
      vertical-align: text-top
      &:nth-child(2)
        padding-left: 0
      a
        color: $primaryText
        &:hover,
        &:focus
          color: $brandText
          text-decoration: none
    tr.filter td
      border: none
      padding-left: 10px
      padding-bottom: 10px
      &:nth-child(2)
        padding-left: 0
      input[type="text"]
        display: inline-block
        border: none
        border-bottom: 1px solid rgba($primaryText, 0.4)
        padding: 0
        font-size: rem(12px)
        line-height: rem(20px)
        +box-shadow(none)
        +border-radius(0)
        &:focus
          +box-shadow(none)
          outline: none
          border-bottom-color: $brandText
        &.cp-input-s1
          width: 65px
        &.cp-input-s2
          width: 95px
        &.cp-input-s3
          width: 120px
        &.cp-input-s4
          width: 165px
      select
        border: none
        border-bottom: 1px solid rgba($primaryText, 0.4)
        background-image: image_url("icons/caret-black.png")
        background-position-x: right
        background-position-y: 8px
        font-weight: 400
        padding: 0 15px 4px 15px
        font-size: rem(12px)
        text-transform: capitalize
        +box-shadow(none)
        +border-radius(0)
        option
          font-size: rem(12px)
          text-transform: capitalize
      label.checkbox
        margin-top: 28px
        margin-bottom: -10px

  tbody
    &.have-avatar
      tr td
        vertical-align: middle
    tr
      &:hover
        background-color: rgba($hover, 0.05)
      &:first-child td
        border-top: none !important
      td
        border-top: 1px solid $line
        font-size: rem(12px)
        font-weight: 400
        padding: 10px 0 10px 10px
        &:nth-child(2)
          padding-left: 0
        &.online
          border-left: 10px solid $blue
        &.action
          width: 90px
          padding-right: 30px
        &.cell-center
          text-align: center
        a.btn-list
          padding-right: 10px
          &:first-child
            padding-right: 5px
          &:nth-child(3)
            padding-left: 3px
            padding-right: 7px
          &:hover,
          &:focus
            outline: none
        label.checkbox
          padding-left: 25px
          margin-right: 5px
          &:before
            bottom: -16px

.cp-detail-container
  margin: 15px 30px 0 30px
  .cp-label
    text-transform: uppercase
    padding-bottom: 10px
    @extend .cp-typo-label
    color: $primaryText
  .cp-detail-onehaft
    width: 50%
    .cp-count-block
      display: inline-block
      float: left
      width: 255px
      padding: 10px
      margin-right: 10px
      margin-top: 15px
      overflow: hidden
      border: 1px solid $line
      +border-radius(7px)
      &:first-child,
      &:nth-child(2)
        margin-top: 0
      div
        &:first-child
          text-align: left
          @extend .cp-typo-count-1
        &:nth-child(2)
          text-align: right
          padding-top: 5px
          @extend .cp-typo-count-2
        &:nth-child(3)
          text-align: right
          @extend .cp-typo-count-3
    .cp-label
      padding-left: 15px
    .cp-booking-star
      padding-left: 15px
    .cp-comment
      padding: 10px 0 0 40px
      color: $primaryText
      @extend .cp-typo-text
    hr
      margin: 15px 0
  .cp-detail-onethird
    width: 290px
    margin-right: 102px
    &:last-child
      margin-right: 0
    .cp-document-image
      padding-top: 10px
      .cp-image-item
        margin-top: 15px
        .cp-label
          padding-bottom: 6px
        img
          width: 100%

table.cp-card-detail
  width: 100%
  tr
    &:last-child td
      padding-bottom: 0
    td
      padding-bottom: 5px
      &:first-child
        @extend .cp-typo-label-detail
        width: 120px
        vertical-align: text-top
      &:nth-child(2)
        @extend .cp-typo-text
        text-align: right
      .cp-label
        padding-bottom: 6px



