// Define Table Style
// ==================
.table
  color: $primaryText
  overflow: hidden
  margin-bottom: 0
  thead
    font-size: rem(12px)
    font-weight: 600
    tr th
      border: none
      padding-left: 0
    tr.filter td
      border: none
      padding-left: 0
      padding-bottom: 10px
      input[type="text"]
        display: inline-block
        border: none
        border-bottom: 1px solid rgba($primaryText, 0.4) !important
        padding-left: 0
        &:focus
          +box-shadow(none)
          outline: none
        &.cp-input-small
          width: 65px
        &.cp-input-normal
          width: 95px
        &.cp-input-medium
          width: 165px
      select
        border-bottom: 1px solid rgba($primaryText, 0.4)
        background-position-y: 8px
        option
          font-size: rem(12px)

  tbody
    tr
      &:hover
        background-color: rgba($hover, 0.05)
      &:first-child td
        border-top: none !important
      td
        border-top: 1px solid $line
        font-size: rem(12px)
        font-weight: 400
        padding: 10px 0 10px
        &.online
          border-left: 10px solid $blue
          padding-right: 5px
        &.action
          width: 90px
          padding-right: 30px
        a.btn-list
          padding-right: 10px
          &:first-child
            padding-right: 5px
          &:nth-child(3)
            padding-left: 3px
            padding-right: 7px
        label.checkbox
          padding-left: 25px
          margin-right: 5px
          &:before
            bottom: -16px





