// Define Typography
// =================
.cp-typo-name
  font-size: rem(24px)
  font-weight: 400
  line-height: rem(44px)

.cp-typo-title
  font-size: rem(24px)
  font-weight: 300

.cp-typo-code
  font-size: rem(20px)
  font-weight: 300
  line-height: rem(20px)

.cp-typo-normal
  font-size: rem(16px)
  font-weight: 300

.cp-typo-text
  font-size: rem(14px)
  font-weight: 300

.cp-type-subtext
  font-size: rem(12px)
  font-weight: 300

.cp-typo-label
  font-size: rem(12px)
  color: $brandText
  font-weight: 600

.cp-typo-label-detail
  font-size: rem(14px)
  color: $brandText
  font-weight: 400

.cp-typo-count-1
  font-size: rem(14px)
  color: $brandText
  font-weight: 300

.cp-typo-count-2
  font-size: rem(34px)
  color: $primaryText
  font-weight: 400
  font-style: italic

.cp-typo-count-3
  font-size: rem(22px)
  color: $primaryText
  font-weight: 300

.cp-typo-modal-title
  font-size: rem(28px)
  font-weight: 300

.cp-typo-dashboard-count
  font-size: rem(56px)
  font-weight: 600

.cp-typo-dashboard-title
  font-size: rem(36px)
  font-weight: 300
  color: $primaryText

.cp-typo-dashboard-subcount
  font-size: rem(36px)
  font-weight: 600
