/ External Javascript
%script(type="text/javascript" src="../js/jquery-2.2.4.min.js")
%script(type="text/javascript" src="../js/bootstrap.min.js")
%script(type="text/javascript" src="../js/jquery.nicescroll.min.js")
%script(type="text/javascript" src="../js/metisMenu.min.js")
%script(type="text/javascript" src="../js/bootstrap-datepicker.min.js")
%script(type="text/javascript" src="../js/fileinput.min.js")
%script(type="text/javascript" src="../js/main.js")

\</body>
\</html>