/ External Javascript
%script(type="text/javascript" src="../js/jquery-2.2.4.min.js")
%script(type="text/javascript" src="../js/tether.min.js")
%script(type="text/javascript" src="../js/bootstrap.min.js")
%script(type="text/javascript" src="../js/jquery.nicescroll.min.js")
%script(type="text/javascript" src="../js/metisMenu.min.js")
%script(type="text/javascript" src="../js/fileinput.min.js")
%script(type="text/javascript" src="../js/Chart.bundle.min.js")
%script(type="text/javascript" src="../js/cp-chart.js")
%script(type="text/javascript" src="../js/cp-chart-user.js")
%script(type="text/javascript" src="../js/cp-chart-cleaner.js")
%script(type="text/javascript" src="../js/cp-chart-customer.js")
%script(type="text/javascript" src="../js/main.js")

\</body>
\</html>