!!!
\<html>
%head
  %meta(charset="utf-8")
  %title Nexx Control Panel
  %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  %meta(http-equiv="X-UA-Compatible" content="IE=edge")
  %meta(name="keywords" content="Nexx Admin, Nexx Control Panel, Nexx CMS, Nexx Content Management System, NextStep, GVN, Dtaxi")
  %meta(name="author" content="NextStep Digital Technology And Media Company Limited")

  / Favicon
  %link(rel="shortcut icon" href="../images/favicon.png")

  / Google Font
  %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=vietnamese")

  / External Style Sheet
  %link(rel="stylesheet" href="../css/bootstrap.min.css")
  %link(rel="stylesheet" href="../css/animate.css")
  %link(rel="stylesheet" href="../css/lightbox.min.css")
  %link(rel="stylesheet" href="../css/metisMenu.min.css")
  %link(rel="stylesheet" href="../css/bootstrap-datepicker3.css")
  %link(rel="stylesheet" href="../css/fileinput.min.css")
  %link(rel="stylesheet" href="../css/style.css")

  / Setup for Compass
  /[if IE]
    %link(rel="stylesheet" href="/stylesheets/ie.css" media="screen, projection" type="text/css" )
    %link(rel="stylesheet" href="/stylesheets/screen.css" media="screen, projection" type="text/css" )
    %link(rel="stylesheet" href="/stylesheets/print.css" media="print" type="text/css" )


\<body>