= Haml::Engine.new(File.read('header.haml')).render

/ Content
= Haml::Engine.new(File.read('sidebar.haml')).render


= Haml::Engine.new(File.read('foobar.haml')).render


= Haml::Engine.new(File.read('footer.haml')).render