= Haml::Engine.new(File.read('header.haml')).render

/ Content
\<style>body{max-width: 100% !important}</style>
#login-wrap
  #topbar-login
    %div
      %img(src="../images/login/logo.png" alt="Logo of GVN")

  #board-wrap
    .board-login
      .user-info
        %img.avatar-circle(src="../images/login/user-avatar.png" )
        %div Welcome Back
        %div Lady Killer
      %form.form-login
        .form-style
          .form-label
            %img.pass(src="../images/login/pass.png" alt="Password icon")
          %input.input-login(type="text" name="password" placeholder="Password" required )
        .space
        %input#lock-submit(type="submit" name="submit" value="ACCESS")


= Haml::Engine.new(File.read('footer.haml')).render


