\<div class="cp-content">
%nav#topbar.navbar.navbar-light
  %a.navbar-brand(href="#" )
    %img(src="../images/logo.png" alt="Logo of GVN")
  %ul#topbar-right.nav.navbar-nav.pull-xs-right
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle#noti-topbar(data-toggle="dropdown" href="#" aria-haspopup="true" )
        %i.cp-icn-noti-topbar.icn-noti
        .noti-bubble 10
      %ul.dropdown-menu.dropdown-messages(aria-labelledby="#noti-topbar")
        %li.dropdown-item
          %a(href="#")
            %div
              %strong Johnny Depp
              %em.pull-xs-right 14:30
            %div This is a message for just one who has right to read it. If you're not that one, please don't read it.
        %hr
        %li.dropdown-item
          %a(href="#")
            %div
              %strong Benedict Cumberbatch
              %em.pull-xs-right 10:30
            %div This is a message for just one who has right to read it. If you're not that one, please don't read it.
        %hr
        %li.dropdown-item
          %a(href="#")
            %div
              %strong Elon Musk
              %em.pull-xs-right Yesterday
            %div This is a message for just one who has right to read it. If you're not that one, please don't read it.
        %hr
        %li.dropdown-item.read-more
          %a
            %strong Read All Messages
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#")
        %i.cp-icn-config-topbar
      %ul.dropdown-menu
        %li.dropdown-item
          %a(href="#") <i class="cp-icn-config-topbar icn-left"></i> Config 1
        %li.dropdown-item
          %a(href="#") <i class="cp-icn-config-topbar icn-left"></i> Config 2
        %li.dropdown-item
          %a(href="#") <i class="cp-icn-config-topbar icn-left"></i> Config 3
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#")
        %i.cp-icn-setting-topbar
      %ul.dropdown-menu
        %li.dropdown-item
          %a(href="#") <i class="cp-icn-us-flag icn-left"></i> English
          %ul.dropdown-menu.lang-choice
            %li.dropdown-item
              %a(href="#" ) <i class="cp-icn-vietnam-flag icn-left"></i> Tiếng Việt
        %li.dropdown-item
          %a(href="#") <i class="cp-icn-setting-topbar icn-left"></i> Setting 2
        %li.dropdown-item
          %a(href="#") <i class="cp-icn-setting-topbar icn-left"></i> Setting 3




